.header {
  background-color: #212121;
  height: 50px;
  color: white;
  display: flex;
  padding: 10px;
}

.header-main {
  flex-grow: 1;
}
.header-login {
  line-height: 50px;
  color: #8e8e8a ;
  cursor: pointer;
  padding-left: 20px  ;
}
