.cart {
  border: 2px solid red;
}

.product-in-cart {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}
.count-wrap {
  display: flex;
}

.btn {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0 4px;
  cursor: pointer;
}
