.home {
  position: relative;
}

.dog-list {
  display: flex;
  flex-wrap: wrap;
}

.dog-list a {
  display: block;
}



.add-button {
}

.add-button img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}


.form-wrap {
  width: 200px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  z-index: 1000;
}
