.dog-list {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
}

.dog-list a {
  display: block;
}

.dog-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: 120px;
  margin: 10px;
  background-position: center center;
}
